div {
    width: 70%;
    margin: 10px auto;
    border: 2px solid red;
    padding: 10px;
}

table {
    margin: 10px auto;
    border-collapse: collapse;
}

#table {
    border: 2px solid green;
    width: 100%;
    height: 100%;
}

th {
    background-color: white;
}

td,
th {
    border-bottom: 1px solid red;

}

tr:nth-child(2n+1) {
    background-color: rgb(175, 174, 174);
}
tr:nth-child(2n){
    background-color: yellow;
}